
<section class="row col-md-6 col-md-push-3 center" id="signup">
	<div class="" id="formulaire_sign_up">

	<h1>Inscrit-toi !</h1>

	<%= form_for :user, url: '/users' do |f| %>
		<%= render 'shared/error_messages' %>

		<table class="container sign-up">
			<tr>
				<td class="col-md-4">Prénom:</td>
				<td class="col-md-8 right"><%= f.text_field :name %></td>
			</tr>
			<tr>
				<td class="col-md-4">Email:</td>
				<td class="col-md-8 right"><%= f.text_field :email %></td>
			</tr>
			<tr>
				<td class="col-md-4">Mot de passe:</td>
				<td class="col-md-8 right"><%= f.password_field :password %></td>
			</tr>
			<tr>
				<td class="col-md-4">Confirmation du mot de passe:</td>
				<td class="col-md-8 right"><%= f.password_field :password_confirmation %></td>
			</tr>
		</table>
      	
		<br>
      	<%= f.submit "Create my account", class: "btn btn-primary", id: "button-form" %>

      </div>

							
	<% end %>

</section>
